@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

html {
  font-family: "Inter", sans-serif;
  overscroll-behavior-x: none;
  height: 100%;
  overflow-y: hidden;
}

::selection,
::-moz-selection {
  background-color: #2563eb !important;
  color: white;
}

* {
  user-select: none;
}
